<%- include("partials/header") %>

<div class="row justify-content-center align-items-center py-3">
  <div class="col-6">
    <h1>Scribble!</h1>
    <form id="scribble-create" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" id="title" class="form-control form-control-lg" name="title" placeholder="Title" required />
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Title image</label>
        <input type="file" class="form-control" name="image" accept="image/*" required>
      </div>

      <div class="mb-3">
        <label for="gist" class="form-label">Gist</label>
        <input type="text" id="gist" class="form-control" name="gist" placeholder="What's the gist?" required />
      </div>

      <div class="mb-3">
        <label for="scribble" class="form-label">Scribble</label>
        <textarea id="scribble" class="form-control" name="scribble" rows="4" cols="50" placeholder="Tell your story..." required></textarea>
      </div>

      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" id="username" class="form-control" name="username" placeholder="Username" required />
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" id="password" class="form-control" name="password" placeholder="Password" required />
      </div>

      <div class="mb-3 d-md-flex gap-2 justify-content-md-center">
        <button type="submit" value="Submit" class="btn btn-light">Publish</button>
      </div>
    </form>
  </div>
</div>

<%- include("partials/footer") %>